/* Media querie */
@media only screen and (max-width: 400px) {
    .container-log {
        margin-top: 10vh!important;
    }
}
@media only screen and (max-width: 768px) {
    .table {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }
    .modal-button-2 {
        margin-bottom: 20px;
    }
}
@media only screen and (max-width: 992px) {
    .margin-media {
        padding-top: 15px;
    }
}
@media (max-width: 1200px) {
    .navbar-header {
            float: none;
        }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
    .dropdown-menu-property-1 {
        width: 100%!important;
    }
}

/* Animations */
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/*HEADER*/
thead {
    background: #f7f7f7;
}
td {
    vertical-align:middle !important;
}
.logo-image {
    width: 180px;
    margin-top: -8px;
}
.nav-bg-property {
    background-color: #ffffff;
}
.nav-bg-property2 {
    border: none;
    box-shadow: 0px 0px 26px 0px rgba(0, 0, 0, 0.15);
}
.navbar-nav .active {
    border-bottom: 2px solid #004ebe;
}
.navbar-nav a:hover, .navbar-nav a:focus {
    color: #004ebe!important;
    outline: none!important;
}
.navbar-nav .active a {
    background-color: #ffffff!important;
    background-image: none!important;
    box-shadow: none!important;
    color: #004ebe!important;
}
.dropdown-property-1.open a{
    background-color: #ffffff!important;
    background-image: none!important;
    box-shadow: none!important;
}
.dropdown-menu-property-1 {
    border: none!important;
    box-shadow: 0 2px 12px rgba(0,0,0,.175)!important;
}
.navbar-default .navbar-toggle {
    border:none!important;
    background-color: #ffffff!important;
}
.navbar-default .icon-bar {
    background-color: #004ebe!important;
}
.navbar-default .collapsed .icon-bar {
    background-color: #bbbbbb!important;
}
/*KNJIGA KVAROVA*/
.content-container {
    margin-top: 60px;
}
.btn-plus {
    float: right;
    background-color: #ffffff;
    border-radius: 30px;
    border: 2px solid #bbbbbb;
    color: #bbbbbb;
    width: 54px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
.btn-plus:hover, .btn-plus:focus, .btn-plus:active {
    border-radius: 29px;
    border-color: #004ebe;
    color: #004ebe;
    outline: none!important;
}
.btn-plus i {
    cursor: pointer;
}

.btn-plus-2 {
    float: right;
    background-color: #ffffff;
    border-radius: 30px;
    border: 2px solid #bbbbbb;
    color: #bbbbbb;
    width: 54px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
.btn-plus-2:hover, .btn-plus-2:focus, .btn-plus-2:active {
    border-radius: 29px;
    border-color: #004ebe;
    color: #004ebe;
    outline: none!important;
}
.first-option {
    font-weight: bold;
}
.comments-what-is-done {
    margin-top: 20px;
}
.comments-what-is-done textarea {
    max-width: 568px;
}
th {
    text-align: center;
    vertical-align: middle !important;
}
.centar-text {
    text-align: center;
}
.centar-table {
    text-align: center;
    vertical-align: middle !important;
}
.dataTables_info {
    display: none !important;
}
.cursor-table {
    cursor: pointer;
}
.forgot-password p a {
    float: right;
    color: #33333385!important;
}
.forgot-password p a:focus {
    outline: none;
    text-decoration: none;
}
.forgot-password p a:hover {
    color: #848282 !important;
    text-decoration: none;
}
.print-btn {
    float: right;
    background-color: #ffffff;
    border-radius: 30px;
    border: 2px solid #bbbbbb;
    color: #bbbbbb;
    width: 54px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
.print-btn:hover, .print-btn:focus, .print-btn:active {
    border-radius: 29px;
    border-color: #004ebe;
    color: #004ebe;
    outline: none!important;
}
.print-btn i {
    font-size: 20px;
}
.status-glitch {
    color: #ffffff;
    text-align: center;
}
.collapse-item {
    margin-bottom: 10px !important;
}
.collapse-item .panel-heading{
    background: #efefef !important;
}
.title-collapse a{
    text-decoration: none;
    color: #333;
}
.title-collapse {
    margin-bottom: 20px;
}
.panel-heading .accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
    content: "\e114";    /* adjust as needed, taken from bootstrap.css */
    float: right;        /* adjust as needed */
    color: grey;         /* adjust as needed */
}
.panel-heading .accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\e080";    /* adjust as needed, taken from bootstrap.css */
}

/* Settings */
.settings-input {
    width: 200px;
    margin-top: 10px;
    margin-bottom: 20px;
}

/* Tabele */
.table {
    /* width:100%!important; */
    margin-bottom: 0px;
}
.table-bordered {
    border: none;
}
thead {
    border-top: 1px solid #ddd!important;
}
.table-b-m {
    margin-bottom: 50px!important;
}
.table-b-m table {
    margin-top: 20px;
}
/*.dataTables_scrollHeadInner {*/
    /*height: 6vh;*/
/*}*/

/* */
.back-property {
    margin-bottom: 20px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
.back-property a{
    color: #333333;
    text-decoration: none;
}
.back-property a:hover, .back-property a:focus, .back-property a:active{
    color: #004ebe;
}
/* Modals */
.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}
.modal-button-1 {
    width: 100%;
    height: 46px;
    background-color: #bbbbbb;
    color: #ffffff;
    border-radius: 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
.modal-button-1:active, .modal-button-1:hover, .modal-button-1:focus  {
    box-shadow: none;
    color: #ffffff;
    background-color: #004ebe;
    outline: none !important;
}
.modal-button-2 {
    width: 100%;
    height: 46px;
    background-color: #004ebe;
    color:white;
    border-radius: 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
.modal-button-2:hover, .modal-button-2:focus, .modal-button-2:active {
    background-color: #0f0f0f;
    color: #ffffff;
    outline: none;
    box-shadow: none;
}
.modal-footer {
    text-align: center;
}
.modal-input {
    border-radius: 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
.modal-input:focus {
    box-shadow: none;
    border-color: #004ebe;
    color: #004ebe;
}
.modal-dropdown {
    border-radius: 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
.modal-dropdown:focus {
    box-shadow: none;
    border-color: #004ebe;
}
.panel-heading {
    background-image: none !important;
}
.panel-default>.panel-heading {
    background: none !important;
}
.modal-price {
    margin-top: 8px;
    text-align: right;
}

/* Opste klase */
.btn-print-position {
    float: right;
}
.btn-add-position {
    float: right;
    padding-right: 0px
}
.btn-form-property {
    width: 100%;
}
.animation-fade {
    -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
   -moz-animation: fadein 1s; /* Firefox < 16 */
    -ms-animation: fadein 1s; /* Internet Explorer */
     -o-animation: fadein 1s; /* Opera < 12.1 */
        animation: fadein 1s;
}
textarea {
    resize: none;
}
/* Inputs */
.input-property-1 {
    border-radius: 2px;
    height: 46px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
.input-property-1:focus {
    box-shadow: none;
    border-color: #004ebe;
    color: #004ebe;
}
.input-property-2 {
    border-radius: 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
.input-property-2:focus {
    box-shadow: none;
    border-color: #bbbbbb;
    color: #004ebe;
}
.input-icon-property-2 {
    border-radius: 2px;
    background-color: #ffffff;
}
.input-search-1 {
    border-radius: 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
.input-search-1:focus {
    box-shadow: none;
    border-color: #004ebe;
    color: #004ebe;
}

/* Buttons */
.btn-property-1 {
    height: 46px;
    background-color: #004ebe;
    color:white;
    border-radius: 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
.btn-property-1:hover, .btn-property-1:focus, .btn-property-1:active {
    background-color: #0f0f0f;
    color: #ffffff;
    outline: none;
    box-shadow: none;
}
.search-property-2 {
    background-color: #bbbbbb;
    color: #ffffff;
    border-radius: 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
.search-property-2:active, .search-property-2:hover, .search-property-2:focus  {
    box-shadow: none;
    color: #ffffff;
    background-color: #004ebe;
    outline: none !important;
}
.btn-table-property {
    background-color: #ffffff;
    color: #a9a7a7;
    border-radius: 26px;
    border: 2px solid #bbbbbb;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
.btn-table-property:hover, .btn-table-property:active, .btn-table-property:focus {
    background-color: #004ebe;
    color: #ffffff;
    border-color: #004ebe;
    outline: none !important;
    box-shadow: none;
}
.btn-table-property-no-radius {
    background-color: #004ebe;
    color: #ffffff;
    border-radius: 2px;
    width: 100%;
    border: 2px solid #004ebe;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
.btn-table-property-no-radius:hover, .btn-table-property-no-radius:active, .btn-table-property-no-radius:focus {
    background-color: #094192;
    color: #ffffff;
    border-color: #094192;
    outline: none !important;
    box-shadow: none;
}
.btn-table-3 {
    background-color: #bbbbbb;
    width: 100%;
    color: #ffffff;
    border-radius: 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
.btn-table-3:hover, .btn-table-3:active, .btn-table-3:focus {
    box-shadow: none;
    color: #ffffff;
    background-color: #004ebe;
    outline: none !important;
}
/* Korisnici */
.search-property{
    padding-left: 0;
}
.btn-property{
    width: 140px;
}
.btn-edit {
    padding: 0px !important;
}
.btn-edit a{
    width: 54px;
}
.btn-edit a i {
    padding-right: 5px;
}
.btn-edit a:hover, .btn-edit a:active, .btn-edit a:focus {
    box-shadow: none!important;
    color: #004ebe;
    text-decoration: none !important;
}
.btn-edit a {
    color:#bbbbbb;
}

/* Izvestaj nabavke */
.title-page{
    margin-bottom: 20px;
}
.form-property {
    margin-bottom: 50px !important;
}
.head-style {
    margin-bottom: 20px;
}
.hidden-print h3 {
    padding-top: 20px;
}

/* Knjiga kvarova */
.table-margin {
    margin-top: 20px;
}
.title-property-2 h4{
    font-weight: 400;
    font-size: 22px;
}

/* Login */
.container-log {
    margin-top: 12vh;
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
   -moz-animation: fadein 2s; /* Firefox < 16 */
    -ms-animation: fadein 2s; /* Internet Explorer */
     -o-animation: fadein 2s; /* Opera < 12.1 */
        animation: fadein 2s;
}
.logo-property {
    margin-bottom: 10px;
}
.logo-property img{
    width: 240px;
    margin-bottom: 30px;
}
.log-form-property {
    box-shadow: 0px 2px 14px 0px rgba(0, 0, 0, 0.2);
    border:none;
}
.forgot-password p {
    float: right;
}
.title-property {
    padding: 0;
    text-align: center;
    margin-bottom: 20px;
}
.title-property h3 {
    font-weight: 300;
}
.down-margin {
    margin-bottom: 14px;
}

/* Zahtevi za nabavku | Single view */
.total-price {
    text-align: center;
}
.input-table-zahtev {
    border-radius: 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
.input-table-zahtev:focus {
    box-shadow: none;
    border-color: #004ebe;
    color: #004ebe;
}
.dropdown-table-zahtev {
    border-radius: 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
.dropdown-table-zahtev:focus {
    box-shadow: none;
    border-color: #004ebe;
}
.colspan-lines-l {
    border-left: none !important;
}
.colspan-lines-r {
    border-right: none !important;
}
